<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">

  <img style="width: 240px" src="https://static.wixstatic.com/media/c8d38d_6e8ca5c4ef6d447e9a9d0dd7a98edbbf~mv2.png/v1/crop/x_0,y_0,w_228,h_84/fill/w_290,h_105,al_c,lg_1,q_85/logo-new.webp"><br>

</div>
  <nav class="navbar navbar-expand-md navbar-dark bg-own hd-size">
  <div class="container-fluid">
    <div class="collapse navbar-collapse mx-auto" id="navbarCollapse">
      <ul class="navbar-nav mx-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <button type="button" class="btn btn-sm"> <a style="font-size:20px" class="nav-link border borders" aria-current="page" href="#">{{'NAV.FIRST'| translate}}</a></button>
        </li>
        <li class="nav-item active">
          <button type="button" class="btn btn-sm"> <a style="font-size:20px" class="nav-link" aria-current="page" routerLink="/sweets">{{'NAV.SECOND'| translate}}</a></button>

        </li>
        <li class="nav-item active">
          <button type="button" class="btn btn-sm"> <a style="font-size:20px" class="nav-link border" aria-current="page" routerLink="/contacts">{{'NAV.THIRD'| translate}}</a></button>
        </li>
<!--        <li class="nav-item active">-->
<!--          <button type="button" class="btn btn-sm" (click)="translate.use('ru')" )><a style="font-size:20px" class="nav-link border" aria-current="page">English</a></button>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
